.list{
    background-color: rgb(210, 252, 235);
    margin: 1rem 3rem;
    padding: 1rem 3rem;
    border-radius: 20px;
}

.list table thead{
    background-color: rgb(144, 208, 192);
    color: white;
    font-size:larger;
    font-weight: 700;
}
.list table tbody{
    color: rgb(81, 123, 112);
}
.list table tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list footer{
    color: gray;
    font-size: larger;
    font-weight: 500;
    margin-top: 1rem;
    text-align: end;
}