.list{
    background-color: rgb(210, 252, 235);
    margin: 5% 10%;
    padding: 5% 10%;
    border-radius: 1.5rem;
    margin-bottom:30rem;
}

.list table thead{
    background-color: rgb(144, 208, 192);
    color: white;
    font-size:larger;
    font-weight: 300;
}
.list table tfoot{
    color: rgb(81, 123, 112);
}
.list table tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:2% 5%;
}
.list table tr td{
    width: 20%;
    height: 20%;
    overflow:hidden
}
.list table tr td button{
    border: none;
    background-color: transparent;
    color: rgb(81, 123, 112);
}
.list table tr td button:hover{
   text-decoration: underline;
}
.list table tfoot tr{
    padding: 2%;
    border:1px solid rgb(81, 123, 112);;
}
.total_amount{
    color: rgb(81, 123, 112);;;
    font-size: larger;
    font-weight: 500;
    margin-top: 5%;
    text-align: center;
    border: none;
    width: 100%;
}