.center{
    padding: 20px 0;
    border-bottom: 1px solid black;
}
.complete{
    background: rgb(248, 231, 233);
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
}
.details_center{
    position: absolute;
    right:5%;
    top:15%;
    width: 70%;
    background-color: white;
    padding: 2% 5%;
}
