.nav_headers{
    padding: 1.3rem 0;
    background-color: rgb(144, 208, 192);
    display: flex;
    justify-content: space-around;
}

.button button{
    padding: .5rem;
    border-radius: 20px;
    color: red;
    background-color: black;
    font-weight: 700;
    border: 0;
}